#!/bin/zsh

# run `dot-update "some message"` in the terminal to update dot files
dot-copy() { cd ~/workspace/dotfiles && git pull && cp ~/.zshrc .zshrc && cp -r ~/sh }
dot-commit() { cd ~/workspace/dotfiles && git add --all && git commit -m "$1" && git push }
dot-update() { cd ~/workspace/dotfiles && git pull && cp ~/.zshrc .zshrc && cp -r ~/sh . && rm sh/.private_env && git add --all && git commit -m "$1" && git push }

# ctag all files and put this inside .git folder
alias ctag-project="ctags -R -f ./.git/tags ."

alias vimrc="vim ~/.vimrc"
alias zshrc="vim ~/.zshrc"
alias zshconfig="vim ~/sh/.zsh-config"
alias shellconfig="vim ~/sh/.shell-config"
alias aliases="vim ~/sh/.aliases"

alias bashprofile="vim ~/.bash_profile"
alias tmuxrc="vim ~/.tmux.conf"
alias tmux-update="tmux source-file ~/.tmux.conf"

alias say-cabou="say 'cabou' --voice Luciana"

alias nisc="say 'instalando' --voice Luciana && npm install && say-cabou"

gfeature() { git checkout feat/$1 2>/dev/null || git checkout -b feat/$1; }

